학업 중단의 원인이

In [1]:
import pandas as pd

file_path = r'C:\Users\brigh\Documents\GitHub\warehouse\Data_analysis_competition\ara_data\data\중도탈락 학생 현황_학교별평균값\전처리 전\2022_대학_학교별.xlsx'
df = pd.read_excel(file_path)
df

,2022년_ [중도탈락 학생 현황 (대학)],Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,기준연도,학교종류,설립구분,지역,상태,학교,재적학생\n(A),사유별 중도탈락 학생,NaN,NaN,...,사유별 중도탈락 학생(신입생),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,중도탈락학생(신입생)비율(%)\n(B`/A`) × 100
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,계(B),미등록,미복학,...,계(B`),미등록,미복학,자퇴,학사경고,학생활동,유급제적,수업연한초과,기타,NaN
4,2021,대학교,사립,경남,기존,가야대학교(김해),2693,232,56,34,...,59,21,0,33,0,0,0,0,5,13.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,2021,산업대학,사립,전북,기존,호원대학교,6700,723,184,250,...,144,72,0,71,0,0,0,0,1,11.8
244,2021,대학교,사립,세종,기존,홍익대학교 _제2캠퍼스,8240,458,70,79,...,165,42,1,122,0,0,0,0,0,12
245,2021,대학교,사립,서울,기존,홍익대학교,17620,718,88,63,...,344,37,0,307,0,0,0,0,0,12.2
246,2021,대학교,사립,경기,기존,화성의과학대학교,841,211,7,159,...,4,1,0,3,0,0,0,0,0,5.3
247,2021,사이버대학(대학),사립,부산,기존,화신사이버대학교,1702,300,99,83,...,97,37,0,60,0,0,0,0,0,19.2