In [19]:
import pandas as pd

# 새로 업로드된 세 파일을 불러오기
file_paths = [
    r'C:\Users\brigh\Documents\GitHub\warehouse\Data_analysis_competition\ara_data\data\중도탈락 학생 현황_학교별평균값\전처리 후\2021_대학_학교별_전처리.xlsx',
    r'C:\Users\brigh\Documents\GitHub\warehouse\Data_analysis_competition\ara_data\data\중도탈락 학생 현황_학교별평균값\전처리 후\2022_대학_학교별_전처리.xlsx',
    r'C:\Users\brigh\Documents\GitHub\warehouse\Data_analysis_competition\ara_data\data\중도탈락 학생 현황_학교별평균값\전처리 후\2023_대학_학교별_전처리.xlsx',
]

# 파일별로 데이터 읽어서 리스트에 저장
df = [pd.read_excel(file) for file in file_paths]

# 데이터프레임 결합 (세로 방향으로)
df = pd.concat(df, ignore_index=True)

df.shape

(735, 10)

In [20]:
df

,기준연도,학교종류,설립구분,지역,학교명,재적학생,자퇴학생,자퇴학생비율,신입생_자퇴학생,신입생_자퇴학생비율
0,2021,대학교,사립,경남,가야대학교(김해),2693,130,8.6,33,13.1
1,2021,대학교,사립,경기,가천대학교,25871,603,3.6,280,6.5
2,2021,대학교,사립,강원,가톨릭관동대학교,11694,507,5.9,98,6.1
3,2021,대학교,사립,충북,가톨릭꽃동네대학교,567,13,2.3,5,4.6
4,2021,대학교,사립,서울,가톨릭대학교 _제3캠퍼스,306,7,3.3,3,5.8
...,...,...,...,...,...,...,...,...,...,...
730,2023,산업대학,사립,전북,호원대학교,6436,352,11.4,117,13.2
731,2023,대학교,사립,서울,홍익대학교,17018,441,3.8,270,10.7
732,2023,대학교,사립,세종,홍익대학교 _제2캠퍼스,7851,283,5.0,126,10.2
733,2023,대학교,사립,경기,화성의과학대학교,574,31,16.6,21,16.1
734,2023,사이버대학(대학),사립,부산,화신사이버대학교,1836,153,14.3,109,20.2

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 735 entries, 0 to 734
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   기준연도        735 non-null    int64
 1   학교종류        735 non-null    object
 2   설립구분        735 non-null    object
 3   지역          735 non-null    object
 4   학교명         735 non-null    object
 5   재적학생        735 non-null    int64
 6   자퇴학생        735 non-null    int64
 7   자퇴학생비율      735 non-null    float64
 8   신입생_자퇴학생    735 non-null    int64
 9   신입생_자퇴학생비율  735 non-null    float64
dtypes: float64(2), int64(4), object(4)
memory usage: 57.6+ KB

In [22]:
df.describe() # int, float 형 데이터에 대한 통계 요약

,기준연도,재적학생,자퇴학생,자퇴학생비율,신입생_자퇴학생,신입생_자퇴학생비율
count,735.000000,735.000000,735.000000,735.000000,735.000000,735.00000
mean,2022.002721,8972.931973,303.872109,7.005170,114.302041,10.01600
std,0.817048,11035.810945,404.170540,4.815715,121.153060,6.67609
min,2021.000000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,2021.000000,1850.000000,69.500000,3.995000,25.000000,6.58500
50%,2022.000000,7104.000000,246.000000,5.500000,91.000000,8.50000
75%,2023.000000,12094.000000,430.000000,8.580000,161.000000,11.73000
max,2023.000000,142719.000000,6083.000000,36.200000,1382.000000,61.10000

In [23]:
df.isna().sum()

기준연도          0
학교종류          0
설립구분          0
지역            0
학교명           0
재적학생          0
자퇴학생          0
자퇴학생비율        0
신입생_자퇴학생      0
신입생_자퇴학생비율    0
dtype: int64

In [24]:
import matplotlib.pyplot as plt
plt.rcParams['font.family'] ='Malgun Gothic'
plt.rcParams['axes.unicode_minus'] =False

In [ ]:
def plot_histogram(column, bins=30):
    plt.figure(figsize=(8, 6))
    plt.hist(df[column], bins=bins, edgecolor='black')
    plt.title(f'{column} 분포')
    plt.xlabel(column)
    plt.ylabel('빈도수')
    plt.grid(True)
    plt.show()

def plot_boxplot(column):
    plt.figure(figsize=(8, 6))
    plt.boxplot(df[column], vert=False)
    plt.title(f'{column} 박스플롯')
    plt.xlabel(column)
    plt.grid(True)
    plt.show()